<!-- Redes sociales -->
<div class="social">
  <ul>
    <li><a href="#" target="_blank" class="icon-facebook2"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" target="_blank" class="icon-google-plus2"><i class="fab fa-google"></i></a></li>
    <li><a href="#" target="_blank" class="icon-instagram"><i class="fab fa-instagram"></i></a></li>
    <li><a href="mailto:dannyelportu2013@gmail.com" class="icon-mail"><i class="fas fa-envelope-square"></i></a></li>
  </ul>
</div>