<header>
  <section class="hero">
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-lg-6 col-sm-6 col-6 text-left">
          <a href="#">HDConsulting</a>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 text-right navicon">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <div class="intro-text animated fadeInDown">
            <div class="intro-lead-in">Bienvenido!</div>
            <div class="intro-heading text-uppercase">Estamos para servirle</div>
          </div>
          <a href="http://tympanus.net/codrops/?p=22554" class="use-btn animated fadeInUp">Use it for free</a> <a
            href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
  </section>
</header>
<div id="head" style="margin:0;padding:0"></div>
<app-navbar></app-navbar>
<div class="overlay overlay-boxify">
  <nav>
    <ul>
      <!-- <li><a href="#" data-toggle="modal" data-target="#login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
      <li><a href="#" data-toggle="modal" data-target="#signup"><i class="fas fa-user-plus"></i>Sign Up</a></li> -->
      <li><a href="#head"><i class="fa fa-heart"></i>Sobre Nosotros</a></li>
      <li><a href="#services"><i class="fa fa-flash"></i>Servicios</a></li>
      <li><a href="#screenshots-intro"><i class="fa fa-desktop"></i>Portafolio</a></li>
      <li><a href="#team"><i class="fas fa-users"></i>Equipo</a></li>
      <li><a href="#chat"><i class="fas fa-comment"></i>Contactanos</a></li>
    </ul>
  </nav>
</div>
<app-login></app-login>
<app-signup></app-signup>